#field {
    border-radius: 30px;
    box-shadow: 0px 0px 20px 3px #cacaca;
    border:none;
}

#mainWindow {
    /* margin: auto; */
    width: 1360px;
    display: flex;
    margin-top: 5%;
}

#info, #after {
    width: 200px;
}

#body {
    background-color: #f6f6f6;
}